.grid-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr); /* 16 columns */
    grid-gap: 5px; /* Adjust the gap between grid items */
    width: 320px; /* Adjust the width to fit your design */
    margin: 0 auto; /* Center the grid horizontally */
    padding: 10px; /* Add padding around the grid */
  
}
.grid-item{

    height: 25px;
    width: 25px;
    margin: 5px;
    border: solid;
    border-color: black;
    background-color: white;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}